.nav-auth {
  margin: -3px 1px 0 0;
}

.nav-auth__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav-auth__link {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .2s linear;
}

.nav-auth__link:hover {
  opacity: .6;
  cursor: pointer;
}

.nav-auth__link_type_signup {
  color: #fff;
}

.nav-auth__link_type_signin {
  color: #000;
  background-color: #2be080;
  margin-left: 30px;
  padding: 8px 20px;
  border-radius: 3px;
}

@media screen and (max-width: 540px) {
  .nav-auth__link {
    font-size: 10px;
  }

  .nav-auth__link_type_signin {
    margin-left: 14px;
    padding: 7px 12px;
  }
}
