.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 246px 0 60px;
  box-sizing: border-box;
  text-align: center;
}

.not-found__container {
  width: 100%;
}

.not-found__title {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
}

.not-found__text {
  margin: 5px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.not-found__link {
  width: fit-content;
  align-self: center;
  color: #3456F3;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: opacity .2s linear;
}

.not-found__link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .not-found {
    padding: 408px 0 222px;
  }

  .not-found__link {
    margin-top: 184px;
  }
}

@media screen and (max-width: 450px) {
  .not-found {
    padding: 330px 0 30px;
  }

  .not-found__link {
    margin-top: 284px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}