.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 70px;
}

.header__link {
  display: flex;
}

.header__logo {
  transition: opacity .2s linear;
}

.header__logo:hover {
  opacity: .6;
  cursor: pointer;
}

.header_type_auth {
  background-color: #073042;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 18px 14px;
  }
}
