.about {
  padding: 110px 70px;
  text-align: start;
}

.about__header {
  margin: 0;
  padding: 1px 0 22px;
  border-bottom: 1px solid #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about__container {
  display: flex;
}

.about__container:first-of-type {
  margin-top: 70px;
}

.about__container:last-of-type {
  margin-top: 110px;
}

.about__info-title {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about__info-text {
  margin: 26px 0 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about__timeline-title {
  margin: 0;
  padding: 9px 14px;
  background-color: #2be080;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
}

.about__timeline-title_type_light {
  background: #f2f2f2;
}

.about__timeline-text {
  margin: 15px 0 0;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.about__info:first-of-type {
  margin-right: 53px;
}

.about__timeline:first-of-type {
  width: 20%;
}

.about__timeline:last-of-type {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 90px 50px;
  }

  .about__info-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .about__container:last-of-type {
    margin-top: 93px;
  }

  .about__info:first-of-type {
    margin-right: 38px;
  }

  .about__timeline:first-of-type {
    width: 21%;
  }

  .about__timeline:last-of-type {
    width: 79%;
  }
}

@media screen and (max-width: 540px) {
  .about {
    padding: 70px 18px;
  }

  .about__header {
    padding: 0 0 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__container:first-of-type {
    flex-direction: column;
    margin-top: 61px;
  }

  .about__container:last-of-type {
    margin-top: 60px;
  }

  .about__info:first-of-type {
    margin-right: 0;
  }

  .about__info:last-of-type {
    margin-top: 57px;
  }

  .about__info-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about__info-text {
    margin-top: 15px;
    font-size: 11px;
    line-height: 16px;
  }

  .about__timeline:first-of-type {
    width: 38%;
  }

  .about__timeline:last-of-type {
    width: 70%;
  }

  .about__timeline-title {
    padding: 11px 10px;
    font-size: 11px;
    line-height: 13px;
  }

  .about__timeline-text {
    margin-top: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}
