.footer {
  flex: 0 0 auto;
  padding: 60px 70px 20px;
  text-align: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  border-top: 1px solid #e8e8e8;
}

.footer__title {
  margin: 0 0 18px;
  color: #a0a0a0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer__copyright {
  display: flex;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}

.footer__nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__nav-link {
  margin-left: 20px;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .2s linear;
}

.footer__nav-link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 60px 22px 20px;
  }

  .footer__copyright {
    margin-left: 15px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 58px 10px 10px;
  }

  .footer__title {
    margin: 0 0 19px;
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding-top: 28px;
    align-items: center;
  }

  .footer__copyright {
    margin: 18px 5px 0 0;
    font-size: 12px;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__nav-item {
    margin-bottom: 8px;
  }

  .footer__nav-link {
    margin: 0;
    font-size: 12px;
  }
}
